<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.myexperiment.mapper.UserMapper">
    
    <select id="findByUsername" parameterType="String" resultType="com.myexperiment.entity.User">
        SELECT * FROM users WHERE username = #{username}
    </select>

    <insert id="createUser" parameterType="com.myexperiment.entity.User">
        INSERT INTO users (username, password, email, role)
        VALUES (#{username}, #{password}, #{email}, #{role})
    </insert>

    <select id="findAllUsers" resultType="com.myexperiment.entity.User">
        SELECT * FROM users
    </select>

    <delete id="deleteUser" parameterType="Integer">
        DELETE FROM users WHERE id = #{id}
    </delete>

</mapper>